.header{
  color: white;
  font-size: 1em;
  background-color: Crimson;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
}

body{
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background-color: #fde8ec;
}

.coin-img{
  width: 6em;
  margin: 0.5em;
  background-color: none;
  z-index: 2;
  border-radius: 50%;
}

.coins-div{
  text-align: center;
  margin-bottom: 11em;
}

#wallet{
  position: fixed;
  bottom: 0;
  height: 10em;
  background-color: #a30f2d;
  width: 100vw;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#display-value{
  border-radius: 0.2em;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
  float: left;
  margin: 1em;
  position: fixed;
  bottom: 10em;
  padding: 0.5em;
}

h1{
  margin: 0em;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align:middle;
  display: inline-block;
  text-align: center;
}
.logo{
  height: 3em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
